<div id="ContentFlowPList" class="ContentFlow">
	<div class="loadIndicator"><div class="indicator"></div></div>
	<div class="flow">
		<% _.each( ref, function( file ){ %>
			<div class="item">
				<% if(file.type == "blob"){ %>
					<img class="content" src="/css/img/file_reestr.png" ></img>
				<% }else { %>
					<img class="content" src="/css/img/Folder-icon.png" ></img>
				<% } %>
				<div class="caption">
				
					<% if(file.sha == undefined) { %>
						<a href="#/product/<%= file.full_name %> /git/trees/master">	
					<% } else { %>
							<a href="#/product/<%- escape(file.url) %>">
					<% } %>
					
						<%= file.path %>
					</a>
				</div>
			</div>
		<% }); %>			
	</div>
	<div class="globalCaption"></div>
	<div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
</div>
