<div id="ContentFlow">
	<div class="loadIndicator"><div class="indicator"></div></div>
	<div class="flow">
		<% _.each( ref, function( project ){ %>
			<div class="item">
				<img class="content" src="/css/img/Folder-icon.png" ></img>
				<div class="caption">
					<a href="#/product/<%= project.full_name %>">
						<%= project.name %>
					</a>
				</div>
			</div>
		<% }); %>			
	</div>
	<div class="globalCaption"></div>
	<div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
</div>
